
html, body {
background: radial-gradient(#FFFFFF, #3895DD);
background-repeat: no-repeat;
height: 100%;
vertical-align: middle;
}


.app {
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  color: black;
  box-shadow: 4px 4px 2px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#9E9CA5, #504B4D);
  background:         linear-gradient(to right bottom, #797275 20%, #9E9CA5 40%, #797275 60%);
  background:         linear-gradient(to right bottom, #5B6379 20%, white 40%, #5B6379 60%);

}

button {
  border-radius: 6px;
  background-color: #2A2A2A;
  color: grey;
  margin-left: 3px;
  margin-right: 3px;
}

select {
  background-color: inherit;
  color: black;
  border-radius: 6px;
}

input {
  background-color: inherit;
  color: black;
  font-weight: bold;
}

form {
  display: inline-block;
  horizontal-align: right;
}